// Base
@import "base/_mixins.scss";

// Components
@import "components/forms";
@import "components/buttons";

// Vars
:root {
  --ona-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  clear: both;
  display: block;
  width: 100%;
}

pre {
  white-space: pre-wrap;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
  transition: all 0.2s ease-in-out;
}

// Underline effect
.wp-block-post-title,
.wp-block-post-terms,
.wp-block-navigation__container > .wp-block-navigation-item {
  a {
    display: inline;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
    transition: 0.36s var(--ona-transition);
    background-size: 0 95%;

    &:hover {
      background-size: 100% 95%;
    }
  }
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  background-image: none !important;
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@include bp-sm-up {
  .wp-block[data-align="left"],
  .wp-block[data-align="right"],
  .wp-site-blocks .alignleft,
  .wp-site-blocks .alignright {
    max-width: 50% !important;
  }
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@include bp-md-down {
  body {
    --wp--preset--font-size--huge: 2.5rem;
    --wp--preset--font-size--large: 2rem;
    --wp--preset--font-size--medium-large: 1.875rem;
    --wp--custom--typography--font-size--heading-1: 2rem;
    --wp--custom--typography--font-size--heading-2: 1.75rem;
    --wp--custom--typography--font-size--heading-3: 1.5rem;
    --wp--custom--typography--font-size--heading-3: 1.375rem;
  }
}

/*--------------------------------------------------------------
# Site header
--------------------------------------------------------------*/
.site-header {
  position: relative;
}

@include bp-md-down {
  .site-header .ona-header-collapse-md-down .wp-block-column {
    flex: 1 0 0 !important;
  }
}

@include bp-sm-down {
  .site-header .wp-block-column {
    flex: 1 0 0 !important;
  }

  .site-header > .wp-block-group {
    padding: 1rem var(--wp--style--block-gap) !important;
  }
}

.wp-block-group:where(.has-background) {
  padding-left: var(--wp--style--block-gap);
  padding-right: var(--wp--style--block-gap);
}

// Fix: collapse navbar at 782px
.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
  display: none;

  @include bp-md-up {
    display: flex;
  }
}

.wp-block-navigation__responsive-container-open:not(.always-shown) {
  @include bp-md-down {
    display: flex;
  }
}

// Fix justify content right on mobile
@include bp-md-down {
  .items-justified-right
    .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation-item,
  .items-justified-right
    .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation__container,
  .items-justified-right
    .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content
    .wp-block-page-list {
    align-items: flex-start;
  }

  .items-justified-right .wp-block-navigation__container,
  .items-justified-right .wp-block-navigation__responsive-container-content,
  .items-justified-right .wp-block-page-list {
    justify-content: flex-start;
  }
}

/*--------------------------------------------------------------
# Site footer
--------------------------------------------------------------*/
.site-footer > .has-foreground-background-color {
  a:focus,
  a:hover {
    color: #fff;
  }
}

.ona-copyright a {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
.wp-block-post-featured-image a {
  display: block;
}

.ona-post {
  gap: 20px;

  .wp-block-post-featured-image img {
    object-fit: cover;
  }
}

/*--------------------------------------------------------------
# Post List
--------------------------------------------------------------*/
.ona-post-list {
  .wp-block-post-featured-image,
  .wp-block-post-featured-image > a {
    height: 100%;
  }
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.wp-block-post-comments .commentlist .comment {
  padding-left: 0;
}

.comment-meta .says {
  display: none;
}

.comment-metadata a {
  text-decoration: none;
  font-size: var(--wp--preset--font-size--small);
  color: var(--wp--preset--color--text-light);
}

.wp-block-post-comments .comment-meta,
.wp-block-post-comments .comment-author {
  margin-left: 0;
}

.wp-block-post-comments .commentlist .comment p {
  line-height: var(--wp--custom--typography--line-height--medium);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.wp-block-post-comments .commentlist li {
  border-top: 1px solid var(--wp--preset--color--text-lighter);
  margin: var(--wp--style--block-gap) 0 0 0;
  padding: var(--wp--style--block-gap) 0 0 0;
}

.wp-block-post-comments .commentlist li li {
  margin-left: var(--wp--style--block-gap);
}

.nocomments {
  text-align: center;
}

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/
.hover-scale {
  overflow: hidden;

  img {
    transition: transform 0.4s var(--ona-transition);
    will-change: transform;
  }

  &:hover img {
    transform: scale(1.05);
  }
}
