.more {
    margin-top: 15px;
}


/* CSS */

.button-more {
    margin: auto;
    background-color: $tattoo-05;
    border: 0 solid $joea-01;
    box-sizing: border-box;
    color: $socal-01;
    display: flex;
    font-family: "Modern735BT", 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    // text-decoration-thickness: auto;
    width: 100%;
    max-width: 350px;
    position: relative;
    cursor: pointer;
    //transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    a {
        text-decoration: none !important;
    }
}

.button-more:focus {
    outline: 0;
}

.button-more:hover {
    text-decoration: underline;
    color: $socal-01;
}

.button-more:after {
    content: '';
    position: absolute;
    border: 1px solid $joea-02;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-more:hover:after {
    bottom: 1px;
    left: 1px;
}

@media (min-width: 768px) {
    .button-more {
        padding: .75rem 3rem;
        font-size: 1.5rem;
    }
}