body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

//** This is the container for all non-hero body content **//  
.joeartist-container {
    max-width: 1000px !important;
    margin: auto;
    padding: 3rem 3rem 2rem 3rem;
}

.concert {
    background-color: $tattoo-05;
    text-align: center;
}

.center {
    text-align: center;
    h2 {
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

//** YOUTUBE AREA **//  
.sb_youtube_header {
    display: none;
}

.sby-owl-nav {
    .sby-owl-prev {
        margin-left: -40px;
    }
    .sby-owl-next {
        margin-right: -40px;
    }
    >div {
        color: $socal-01;
        background: transparent;
        font-size: 2rem;
        font-weight: 100 !important;
        margin-top: -4.5rem;
    }
}

//** SPOTIFY BOX **// 
.spotify-column {
    padding: 0 20px 20px 0;
}

//** FOOTER **//  
#wrapper-footer {
    background-color: $joea-04;
    color: $joea-05;
    a {
        color: $joea-05;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        p {
            margin: 1rem 0 1rem 0 !important;
        }
    }
}

#wrapper-footer-full {
    background-color: $joea-04;
    color: $joea-05;
    a {
        color: $joea-05;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-credits {
    p {
        font-size: 1rem;
        margin-top: .75rem;
        margin-bottom: 0;
    }
    .wp-block-social-links {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}

footer {
    .wp-block-columns {
        margin-bottom: 0 !important;
    }
}