@each $name,
$color in $colors {
    .has-#{$name}-color,
    .has-#{$name}-color:visited {
        color: $color;
    }
    .has-#{$name}-background-color {
        background-color: $color;
        border-color: $color;
    }
}

@each $name,
$color in $theme-colors {
    .has-#{$name}-color,
    .has-#{$name}-color:visited {
        color: $color;
    }
    .has-#{$name}-background-color {
        background-color: $color;
        border-color: $color;
    }
}

.dark-gray-background {
    background-color: $compton-05b;
}

.has-gray-background-color {
    background-color: $compton-05b;
}

// #3B3B3B