input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=submit],
input[type=datetime],
input[type=datetime-local],
input[type=color],
input[type=checkbox],
textarea {
	font-size: var(--wp--preset--font-size--normal);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=submit]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
input[type=checkbox]:focus,
textarea:focus {
	outline: 1px dotted currentColor;
}

input,
select,
textarea {
	border: 1px solid #eaeaea;
	border-radius: 0;
	width: 100%;
	margin-bottom: 16px;
	padding: 10px;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

textarea {
	overflow: auto;
	resize: vertical;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input[type=checkbox],
input[type=radio] {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
}

input[type=radio],
input[type=checkbox] {
	box-sizing: border-box;
	padding: 0;
}

/*--------------------------------------------------------------
# Comment Form
--------------------------------------------------------------*/
.comment-form-comment textarea {
	height: 168px;
}

.comment-reply-title {
	margin-top: 0;
	margin-bottom: 1rem;
}

.wp-block-post-comments input,
.wp-block-post-comments textarea {
	border-color: var(--wp--preset--color--text-lighter);
}

.comment-form-cookies-consent {
	display: flex;
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--typography--line-height--medium);
}

.submit.wp-block-button__link {
	border: 0;
}

.comment-respond {
	background-color: var(--wp--preset--color--background-light);
	padding: calc(2 * var(--wp--style--block-gap));
	margin-top: calc(2 * var(--wp--style--block-gap));
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
input[type=submit] {
	cursor: pointer;
}

.wp-block-button .wp-block-button__link {
	border: 1px solid transparent;
}

.wp-block-button.wp-block-button__link:hover,
.wp-block-button.wp-block-button__link:focus,
.wp-block-button.wp-block-button__link.has-focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link.has-focus {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

:root {
	--ona-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

textarea {
	clear: both;
	display: block;
	width: 100%;
}

pre {
	white-space: pre-wrap;
}

a,
button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus {
	transition: all 0.2s ease-in-out;
}

.wp-block-post-title a,
.wp-block-post-terms a,
.wp-block-navigation__container > .wp-block-navigation-item a {
	display: inline;
	background-repeat: no-repeat;
	background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
	transition: 0.36s var(--ona-transition);
	background-size: 0 95%;
}
.wp-block-post-title a:hover,
.wp-block-post-terms a:hover,
.wp-block-navigation__container > .wp-block-navigation-item a:hover {
	background-size: 100% 95%;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
	background-image: none !important;
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
	.wp-block[data-align=left],
.wp-block[data-align=right],
.wp-site-blocks .alignleft,
.wp-site-blocks .alignright {
		max-width: 50% !important;
	}
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@media only screen and (max-width: 781px) {
	body {
		--wp--preset--font-size--huge: 2.5rem;
		--wp--preset--font-size--large: 2rem;
		--wp--preset--font-size--medium-large: 1.875rem;
		--wp--custom--typography--font-size--heading-1: 2rem;
		--wp--custom--typography--font-size--heading-2: 1.75rem;
		--wp--custom--typography--font-size--heading-3: 1.5rem;
		--wp--custom--typography--font-size--heading-3: 1.375rem;
	}
}
/*--------------------------------------------------------------
# Site header
--------------------------------------------------------------*/
.site-header {
	position: relative;
}

@media only screen and (max-width: 781px) {
	.site-header .ona-header-collapse-md-down .wp-block-column {
		flex: 1 0 0 !important;
	}
}
@media only screen and (max-width: 599px) {
	.site-header .wp-block-column {
		flex: 1 0 0 !important;
	}

	.site-header > .wp-block-group {
		padding: 1rem var(--wp--style--block-gap) !important;
	}
}
.wp-block-group:where(.has-background) {
	padding-left: var(--wp--style--block-gap);
	padding-right: var(--wp--style--block-gap);
}

.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
	display: none;
}
@media only screen and (min-width: 782px) {
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: flex;
	}
}

@media only screen and (max-width: 781px) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}
}

@media only screen and (max-width: 781px) {
	.items-justified-right .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.items-justified-right .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.items-justified-right .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
		align-items: flex-start;
	}

	.items-justified-right .wp-block-navigation__container,
.items-justified-right .wp-block-navigation__responsive-container-content,
.items-justified-right .wp-block-page-list {
		justify-content: flex-start;
	}
}
/*--------------------------------------------------------------
# Site footer
--------------------------------------------------------------*/
.site-footer > .has-foreground-background-color a:focus,
.site-footer > .has-foreground-background-color a:hover {
	color: #fff;
}

.ona-copyright a {
	text-decoration: none;
}

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
.wp-block-post-featured-image a {
	display: block;
}

.ona-post {
	gap: 20px;
}
.ona-post .wp-block-post-featured-image img {
	-o-object-fit: cover;
	   object-fit: cover;
}

/*--------------------------------------------------------------
# Post List
--------------------------------------------------------------*/
.ona-post-list .wp-block-post-featured-image,
.ona-post-list .wp-block-post-featured-image > a {
	height: 100%;
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.wp-block-post-comments .commentlist .comment {
	padding-left: 0;
}

.comment-meta .says {
	display: none;
}

.comment-metadata a {
	text-decoration: none;
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--preset--color--text-light);
}

.wp-block-post-comments .comment-meta,
.wp-block-post-comments .comment-author {
	margin-left: 0;
}

.wp-block-post-comments .commentlist .comment p {
	line-height: var(--wp--custom--typography--line-height--medium);
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.wp-block-post-comments .commentlist li {
	border-top: 1px solid var(--wp--preset--color--text-lighter);
	margin: var(--wp--style--block-gap) 0 0 0;
	padding: var(--wp--style--block-gap) 0 0 0;
}

.wp-block-post-comments .commentlist li li {
	margin-left: var(--wp--style--block-gap);
}

.nocomments {
	text-align: center;
}

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/
.hover-scale {
	overflow: hidden;
}
.hover-scale img {
	transition: transform 0.4s var(--ona-transition);
	will-change: transform;
}
.hover-scale:hover img {
	transform: scale(1.05);
}