input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="submit"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="checkbox"],
textarea {
	&:focus {
		outline: 1px dotted currentColor;
	}
	font-size: var(--wp--preset--font-size--normal);
}

input,
select,
textarea {
	border: 1px solid #eaeaea;
	border-radius: 0;
	width: 100%;
	margin-bottom: 16px;
	padding: 10px;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

textarea {
	overflow: auto;
	resize: vertical;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input[type="checkbox"],
input[type="radio"] {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

/*--------------------------------------------------------------
# Comment Form
--------------------------------------------------------------*/
.comment-form-comment textarea {
	height: 168px;
}

.comment-reply-title {
	margin-top: 0;
	margin-bottom: 1rem;
}

.wp-block-post-comments input,
.wp-block-post-comments textarea {
	border-color: var(--wp--preset--color--text-lighter);
}

.comment-form-cookies-consent {
	display: flex;
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--typography--line-height--medium);
}

.submit.wp-block-button__link {
	border: 0;
}

.comment-respond {
	background-color: var(--wp--preset--color--background-light);
	padding: calc(2 * var(--wp--style--block-gap));
	margin-top: calc(2 * var(--wp--style--block-gap));
}
